@import '../../styles/variables.scss';

.helper {
  z-index: 20;
  font-size: 48px;
  color: white;
  border-radius: 50%;
  background-color: $helper-blue;
  font-family: $poppins;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
}
.button {
  width: 225px;
  border-radius: 27px;
  background-color: #dedede;
  font-family: $poppins;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border: 2px solid $helper-blue;
  transition: 0.4s;
  &:hover{
    background-color: $helper-blue;
    color:white;
  }
}

.helper:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  bottom: 0px; // Adjust according to your button size
  right: 80px;
  background-color: white;
  border: 2px solid $helper-blue;
  color: black;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.3;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
&__alwaysVisible{
    visibility:visible;
    opacity: 1;
}
}

.tooltip::before {
  content: '';
  position: absolute;
  bottom: 20px;
  right: -9px; // Adjust based on tooltip width
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: white;
  border: 2px solid $helper-blue;
  border-left: 0;
  border-bottom: 0;
  // border-right: 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $poppins;
    row-gap: 20px;
    font-size: 20px;
    min-width: 240px;
    word-break: break-word;
    &__add{
        color:$blue;
        border-bottom: 1px solid $blue;
        font-size: 14px;
        font-family: $poppins;
        transition: 0.3s;
        &:hover{
           transform: scale(1.1);
        }
    }
    &__back{
        background-color: transparent;
        margin-left: 0;
    }
    &__title{
        &__wrapper{
            width: 100%;
            display: flex;
            column-gap: 10px;
            justify-content: center;
        }
        flex: 1;
        margin-right: 42px; // 32px because of width of arrow
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: 25px;
        column-gap: 10px;
        font-weight: bold;

    }
    &__label{
    text-align: center;        
    }
    &__input__wrapper{
        align-items: center;
        row-gap: 5px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__textarea{
        width: 100%;
        resize: none;
        border: 1px solid black;
        border-radius: 27px;
        padding: 10px;
        background-color: #dedede;
    }
    &__select{
      width: 100%;
      border-radius: 27px !important;
      border:1px solid black;
      :has(span) {
        height: auto;
      }
      :has(svg) {
        visibility: visible;
        color: black;
      }
    
      :has(div) {
        background-color: #dedede;
        border-radius: 25px;
        font-size: 20px;
        min-height: 50px;
        font-family: $poppins;
      &[class*='IndicatorsContainer']{
        visibility: hidden;
      }
      }
    }
    .selector::-webkit-scrollbar {
      /* Hide scrollbar for Chrome, Safari and Opera */
      display: none;
    }
    .selector [class*='menu'] {
    
      z-index: 4 !important;
      :has(div) {
        background-color: white;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    
      border: 1px solid black;
      min-width: 100%;
    
    }
}