@import "../../styles/variables.scss";
.table {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto 61px auto;
  border-collapse: collapse;
  width: 100%;
  border: 3px solid $font-black;
  border-radius: 28px;
  overflow: hidden;
  // display: grid;
  // grid-template: repeat(15, 58px) / repeat(7, 183px);
  // grid-auto-flow: column;
  // transition: 200ms linear;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 840px;
  position: relative;
  z-index: 1;

  .managerUl {
    &:first-child {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1000;
    }
  }
}
.table_list {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto 61px auto;
  border-collapse: collapse;
  width: 90%;
  border: 3px solid $font-black;
  border-radius: 28px;
  overflow: hidden;
  // display: grid;
  // grid-template: repeat(15, 58px) / repeat(7, 183px);
  // grid-auto-flow: column;
  // transition: 200ms linear;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  max-height: 840px;
  position: relative;
  z-index: 1;
}

// .table::-webkit-scrollbar {
//   width: 4px;
//   height: 8px;
//   z-index: -100;
// }

// .table::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, 0.5); /* Adjust this value as needed */
//   border-radius: 28px;
//   height: 30px;
//   z-index: -100;
// }

// .table::-webkit-scrollbar-track {
//   padding-top: 10px;
//   padding-bottom: 10px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   z-index: -100;
// }

// .spinner {
//   width: 57px;
//   top: 5px;
//   left: 5px;
//   z-index: 999;
//   position: absolute;
//   
// }
.spinner {
  height:130px;
  width: 130px;
  color: #999DFF;
  top: 20vh;
  left: 50%;
  position: absolute;
  z-index: 110001;
  z-index: 999;
  transform: translateX(-50%)
}

.wrapperTable {
  position: relative;
  max-width: 1287px;
  width: 100%;
  margin: 0 auto;
}

.managerUl {
  display: flex;
  width: 100%;
  &:nth-child(3) {
    border-top: none;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -3px;
      z-index: 99;
      display: block;
      width: 60px;
      height: 21px;
      background-color: inherit;
    }
  }
}

@media screen and (max-width: 1330px) {
  .table {
    grid-template: repeat(15, 58px) / repeat(7, 157px);
  }
  .wrapperTable {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1160px) {
  .table {
    grid-template: repeat(15, 58px) / repeat(7, 139.5px);
  }
  .wrapperTable {
    max-width: 980px;
  }
}

@media screen and (max-width: 715) {
  .table {
    grid-template: repeat(15, 58px) / repeat(7, 139.5px);
  }
  .wrapperTable {
    max-width: 980px;
  }

  .table_list ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
