[build]
  command = "npm run build"
  publish = "build"
  functions = "lambda"

[context.production.environment]
  NODE_ENV = "production"
  
[context.deploy-preview.environment]
  NODE_ENV = "development"

[context.branch-deploy.environment]
  NODE_ENV = "development"