@import "../../../styles/variables.scss";
@import "../../../styles/reset.scss";

.input__block {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.input__block > .input__label {
  margin: 0;
  width: 47%;
}
.date_wrapper{
  text-align: left;
}

.topic__label{
  font-size: 20px;
  text-align: left;
  width: 100%;
}