@import "../../styles/variables.scss";
.form {
  margin: 0 auto;
  @media screen and (max-width: 420px) {
  width: 360px;
  }
}
.exit {
  text-align: center;
  color: #6f6f6f;
  font-size: 16px;
}
.title {
  border-bottom: 2px $font-black solid;
  text-align: center;
  font-family: $poppins;
  padding-bottom: 13px;
  font-size: 32px;
  margin-bottom: 5px;
}
.button__wrapper {
  display: flex;
  justify-content: center;
  margin: 25px;
}
.signup {
  border-radius: 43px;
  background-color: $blue;
  color: $font-white;
  font-family: $poppins;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 24px;
  transition: $main-transition;
  &:hover {
    @extend %hover-shadow;
  }
}
.login {
  font-family: $poppins;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 24px;
  color: $font-black;
  background-color: transparent;
  border-radius: 43px;
  border: 1px solid $blue;
  transition: $main-transition;
  &:hover {
    @extend %hover-shadow;
  }
}
.signup {
  border-radius: 43px;
  background-color: $blue;
  color: $font-white;
  font-family: $poppins;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 24px;
  transition: $main-transition;
  &:hover {
    @extend %hover-shadow;
  }
}
.appointment__data {
  font-family: $poppins;
  font-weight: 400;
  font-size: 18px;
  // margin-top: 10px;
}
.appointment {
  cursor: pointer;
  padding: 5px 10px 5px;
  border: 1px solid $font-black;
  border-radius: 30px;
  margin: 15px;
  transition: 200ms all;
  &:hover {
    background-color: $blue;
    color: white;
    border-radius: 15px;
  }
}

.input__submit {
  display: inline-block;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  font-family: $poppins;
  color: #fff;
  background-color: $blue;
  display: block;
  margin: 10px;
  cursor: pointer;
  transition: all 1s;
  text-align: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  &:hover {
    background-color: #575aaf;
  }
}
