@import "../../styles//variables.scss";

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $poppins;
  color: $font-black;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  border-collapse: collapse;
  border: 1.5px solid #000;
  transition: 200ms linear;
  border-right: none;
  cursor: pointer;
  position: relative;
  height: 70px;
  width: 100%;
}

.itemCheckboxLabel {
  width: 50px;
}

.itemCheckboxLabel input:checked ~ .itemCheckboxCheckmark {
  background-color: #3a5870;
}

.itemCheckboxCheckmark {
  background-color: #eee;
}
.managerNameStManager {
  min-width: 265px;
  background-color: #fff;
  font-family: $poppins;
  color: $font-black;
  font-weight: 500;
  font-size: 24px;
  border-left: none;
  border-right: 1.5px solid #000;
  margin-left: 40px;
}
.itemCheckbox {
  height: 25px;
  width: 25px;
  color: #000;
  background-color: #000;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: auto;
}

.grayColor {
  background-color: $tableItem-whiteColor;
}

.greenColor {
  background-color: $tableItem-greenColor;
  &:hover {
    background-color: $tableItem-greenHover;
  }
}

.orangeColor {
  background-color: $tableItem-orangeColor;
  &:hover {
    background-color: $tableItem-orangeHover;
  }
}

.darkGreenColor {
  background-color: $tableItem-darkGreenColor;
  &:hover {
    background-color: $tableItem-darkGreenColorHover;
  }
}

.redColor {
  background-color: $tableItem-redColor;
  &:hover {
    background-color: $tableItem-redColorHover;
  }
}

.blueColor {
  background-color: $tableItem-blueColor;
  &:hover {
    background-color: $tableItem-blueColorHover;
  }
}

.whiteColor {
  background-color: $tableItem-whiteColor;
  &:hover {
    background-color: $tableItem-whiteColorHover;
  }
}

.purpleColor {
  background-color: $tableItem-purpleColor;
  &:hover {
    background-color: $tableItem-purpleColorHover;
  }
}

.darkOrangeColor {
  background-color: $tableItem-darkOrangeColor;
  &:hover {
    background-color: $tableItem-darkOrangeColorHover;
  }
}

.hover_buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  transition: 200ms linear;
}

.hover_buttons button {
  height: 25px;
  width: 50px;
  border-radius: 14px;
  background-color: $font-white;
  font-size: 15px;
  font-weight: 400;
  color: $font-black;
  font-family: $poppins;
  transition: 200ms linear;
}

.only_info_button {
  margin-left: 70px;
  transition: 200ms linear;
}

.styled_button {
  margin-left: 70px;
  transition: 200ms linear;
}

.hover_buttons button:nth-child(1) {
  margin-right: 70px;
  transition: 200ms linear;
}

.item:hover .hover_buttons {
  position: absolute;
  opacity: 1;
  visibility: inherit;
  pointer-events: inherit;
  transition: 200ms linear;
}

.callerYellowColor {
  background-color: $caller-yellow;
  &:hover {
    background-color: darken($caller-yellow, 5%);
  }
}
.callerOrangeColor {
  background-color: $caller-orange;
  &:hover {
    background-color: darken($caller-orange, 5%);
  }
}
.callerRedColor {
  background-color: $caller-red;
  &:hover {
    background-color: darken($caller-red, 5%);
  }
}
.callerGreenColor {
  background-color: $caller-green;
  &:hover {
    background-color: darken($caller-green, 5%);
  }
}
.callerLightGreenColor {
  background-color: $caller-lightGreen;
  &:hover {
    background-color: darken($caller-lightGreen, 5%);
  }
}

.free__button {
  position: absolute;
  right: 20px;
  width: 24px;
  height: 24px;
  font-family: $poppins;
  font-size: 20px;
  margin-left: 20px;
  //   padding: 2px 6px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: $font-black;
  z-index: 1000;
  transition: 200ms linear;
}
.callerFreeYellowColor {
  border: 2px solid #837d00;
}
.callerFreeOrangeColor {
  color: #fff;
  border: 2px solid #8a4c02;
}
.callerFreeRedColor {
  color: #fff;
  border: 2px solid #8c2e2e;
}
.callerFreeGreenColor {
  border: 2px solid #007605;
}
.callerFreeLightGreenColor {
  border: 2px solid #4a8312;
}

.managerNameSt {
  min-width: 265px;
  background-color: #fff;
  font-family: $poppins;
  color: $font-black;
  font-weight: 500;
  font-size: 24px;
  border-left: none;
  border-right: 1.5px solid #000;
}

@media screen and (max-width: 1330px) {
  .hover_buttons button:nth-child(1) {
    margin-right: 17px;
  }
}

@media screen and (max-width: 715px) {
  .managerNameSt {
    min-width: 50%;
    height: 70px;
    font-size: 19px;
  }
}

.asterix{
  position: absolute;
  top: 5px;
  right: 5px;
}

////// MODAL DELETE CONFIRMATION ///////
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  width: 250px;
  background: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
}

.label{
  font-family: $poppins;
  font-size: 20px;
  margin-bottom: 20px;
}
.btn_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: center;
}

.btn_yes{
  font-family: $poppins;
  font-size: 20px;
  height: 30px;
  width: 50%;
  border-radius: 3px;
  border: none;
  background-color:rgba(112, 191, 32, 1);
  color: #fff;
}
.btn_no{
  font-family: $poppins;
  font-size: 20px;
  height: 30px;
  width: 50%;
  border-radius: 3px;
  border: none;
  background-color:#e83e3e;
  color: #fff;
}