@import "/src/styles/variables.scss";

.input__delete {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-family: $poppins;
  color: #fff;
  background-color: $red;
  display: block;
  cursor: pointer;
  transition: all 1s;
  text-align: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  &:hover {
    background-color: #e83e3e;
  }
}

////// MODAL DELETE CONFIRMATION ///////
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  width: 250px;
  background: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
}

.label{
  font-family: $poppins;
  font-size: 20px;
  margin-bottom: 20px;
}
.btn_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: center;
}

.btn_yes{
  font-family: $poppins;
  font-size: 20px;
  height: 30px;
  width: 50%;
  border-radius: 3px;
  border: none;
  background-color:rgba(112, 191, 32, 1);
  color: #fff;
}
.btn_no{
  font-family: $poppins;
  font-size: 20px;
  height: 30px;
  width: 50%;
  border-radius: 3px;
  border: none;
  background-color:#e83e3e;
  color: #fff;
}