@import "../../styles/variables.scss";
.tableSection {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}

.verticalLine {
  transform: rotate(90deg);
  width: 63px;
  height: 2px;
  background-color: $font-black;
}

.wrapperTableButtons {
  margin: 0 auto;
  width: 835px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendarController {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 49px auto;
}

.calendarControllerText {
  font-family: $poppins;
  color: $font-black;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}

.calendarControllerButton {
  background-color: transparent;
  font-size: 28px;
  font-weight: 400;
  font-family: $poppins;
  position: relative;
  top: -1px;
  width: 17px;
  height: 17px;
}

.dataPicker {
  width: 330px !important;
  position: absolute;
  top: 410px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tableButton {
  font-size: 32px !important;
  padding: 15px 31px !important;
  border-radius: 59px !important;
  transition: 200ms linear;
  &:hover {
    @extend %hover-shadow;
  }
}

.templateText {
  font-size: 24px;
  font-weight: 400;
  font-family: $poppins;
  color: $font-black;
  margin: 0 0 37px auto;
}

.tableButtonDisabled {
  background-color: $tableItem-grayHover !important;
  cursor: none;
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .wrapperTableButtons {
    margin: 0 auto;
    width: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tableButton {
    font-size: 25px !important;
    padding: 15px 31px !important;
    border-radius: 59px !important;
    transition: 200ms linear;
  }
}

@media screen and (max-width: 685px) {
  .wrapperTableButtons {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tableButton {
    font-size: 18px !important;
    padding: 15px 31px !important;
    border-radius: 59px !important;
    transition: 200ms linear;
  }
}

@media screen and (max-width: 520px) {
  .wrapperTableButtons {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tableButton {
    font-size: 13px !important;
    padding: 15px 31px !important;
    border-radius: 59px !important;
    transition: 200ms linear;
  }
}

@media screen and (max-width: 440px) {
  .wrapperTableButtons {
    margin: 0 auto;
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tableButton {
    font-size: 10px !important;
    padding: 15px 31px !important;
    border-radius: 59px !important;
    transition: 200ms linear;
  }
}

.loadingBackdrop {
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.7);
  transition: backdrop-filter 0.2s;
  backdrop-filter: blur(50px) grayscale(100%) opacity(50%);
  position: absolute;
  z-index: 11000;
  }