@import "../../styles/variables.scss";
.table {
  margin: 0 auto 61px auto;
  border-collapse: collapse;
  width: 100%;
  border: 3px solid $font-black;
  border-radius: 28px;
  overflow: hidden;
  display: grid;
  grid-template: repeat(15, 58px) / repeat(7, 183px);
  grid-auto-flow: column;
  transition: 200ms linear;
}

.spinner {
  width: 57px;
  top: 5px;
  left: 5px;
  position: absolute;
  z-index: 999;
}

.wrapperTable {
  position: relative;
  max-width: 1287px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1330px) {
  .table {
    grid-template: repeat(15, 58px) / repeat(7, 157px);
  }
  .wrapperTable {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1160px) {
  .table {
    grid-template: repeat(8, 150px) / repeat(2, 50%);

    > :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    > :nth-child(2) {
      grid-area: 2 / 1 / 3 / 2;
    }
    > :nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;
    }
    > :nth-child(4) {
      grid-area: 4 / 1 / 5 / 2;
    }
    > :nth-child(5) {
      grid-area: 5 / 1 / 6 / 2;
    }
    > :nth-child(6) {
      grid-area: 6 / 1 / 7 / 2;
    }
    > :nth-child(7) {
      grid-area: 7 / 1 / 8 / 2;
    }
    > :nth-child(8) {
      grid-area: 1 / 2 / 2 / 3;
      border-left: 3px #000 solid;
      border-top: none;
    }
    > :nth-child(9) {
      grid-area: 2 / 2 / 3 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(10) {
      grid-area: 3 / 2 / 4 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(11) {
      grid-area: 4 / 2 / 5 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(12) {
      grid-area: 5 / 2 / 6 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(13) {
      grid-area: 6 / 2 / 7 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(14) {
      grid-area: 7 / 2 / 8 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(15) {
      grid-area: 8 / 1 / 9 / 3;
      border-top: 2px #000 solid;
    }
  }
  .wrapperTable {
    max-width: 980px;
    height: 100%;
    max-height: 1944px;
  }
}

@media screen and (max-width: 1030px) {
  .table {
    grid-template: repeat(8, 150px) / repeat(2, 50%);

    > :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    > :nth-child(2) {
      grid-area: 2 / 1 / 3 / 2;
    }
    > :nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;
    }
    > :nth-child(4) {
      grid-area: 4 / 1 / 5 / 2;
    }
    > :nth-child(5) {
      grid-area: 5 / 1 / 6 / 2;
    }
    > :nth-child(6) {
      grid-area: 6 / 1 / 7 / 2;
    }
    > :nth-child(7) {
      grid-area: 7 / 1 / 8 / 2;
    }
    > :nth-child(8) {
      grid-area: 1 / 2 / 2 / 3;
      border-left: 3px #000 solid;
      border-top: none;
    }
    > :nth-child(9) {
      grid-area: 2 / 2 / 3 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(10) {
      grid-area: 3 / 2 / 4 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(11) {
      grid-area: 4 / 2 / 5 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(12) {
      grid-area: 5 / 2 / 6 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(13) {
      grid-area: 6 / 2 / 7 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(14) {
      grid-area: 7 / 2 / 8 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(15) {
      grid-area: 8 / 1 / 9 / 3;
      border-top: 2px #000 solid;
    }
  }
  .wrapperTable {
    max-width: 680px;
    height: 100%;
    max-height: 1944px;
  }
}

@media screen and (max-width: 1030px) {
  .table {
    grid-template: repeat(8, 150px) / repeat(2, 50%);

    > :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    > :nth-child(2) {
      grid-area: 2 / 1 / 3 / 2;
    }
    > :nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;
    }
    > :nth-child(4) {
      grid-area: 4 / 1 / 5 / 2;
    }
    > :nth-child(5) {
      grid-area: 5 / 1 / 6 / 2;
    }
    > :nth-child(6) {
      grid-area: 6 / 1 / 7 / 2;
    }
    > :nth-child(7) {
      grid-area: 7 / 1 / 8 / 2;
    }
    > :nth-child(8) {
      grid-area: 1 / 2 / 2 / 3;
      border-left: 3px #000 solid;
      border-top: none;
    }
    > :nth-child(9) {
      grid-area: 2 / 2 / 3 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(10) {
      grid-area: 3 / 2 / 4 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(11) {
      grid-area: 4 / 2 / 5 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(12) {
      grid-area: 5 / 2 / 6 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(13) {
      grid-area: 6 / 2 / 7 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(14) {
      grid-area: 7 / 2 / 8 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(15) {
      grid-area: 8 / 1 / 9 / 3;
      border-top: 2px #000 solid;
    }
  }
  .wrapperTable {
    max-width: 680px;
    height: 100%;
    max-height: 1944px;
  }
}

@media screen and (max-width: 750px) {
  .table {
    grid-template: repeat(8, 150px) / repeat(2, 50%);

    > :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    > :nth-child(2) {
      grid-area: 2 / 1 / 3 / 2;
    }
    > :nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;
    }
    > :nth-child(4) {
      grid-area: 4 / 1 / 5 / 2;
    }
    > :nth-child(5) {
      grid-area: 5 / 1 / 6 / 2;
    }
    > :nth-child(6) {
      grid-area: 6 / 1 / 7 / 2;
    }
    > :nth-child(7) {
      grid-area: 7 / 1 / 8 / 2;
    }
    > :nth-child(8) {
      grid-area: 1 / 2 / 2 / 3;
      border-left: 3px #000 solid;
      border-top: none;
    }
    > :nth-child(9) {
      grid-area: 2 / 2 / 3 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(10) {
      grid-area: 3 / 2 / 4 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(11) {
      grid-area: 4 / 2 / 5 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(12) {
      grid-area: 5 / 2 / 6 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(13) {
      grid-area: 6 / 2 / 7 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(14) {
      grid-area: 7 / 2 / 8 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(15) {
      grid-area: 8 / 1 / 9 / 3;
      border-top: 2px #000 solid;
    }
  }
  .wrapperTable {
    max-width: 480px;
    height: 100%;
    max-height: 1944px;
  }
}

@media screen and (max-width: 550px) {
  .table {
    grid-template: repeat(8, 100px) / repeat(2, 50%);

    > :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    > :nth-child(2) {
      grid-area: 2 / 1 / 3 / 2;
    }
    > :nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;
    }
    > :nth-child(4) {
      grid-area: 4 / 1 / 5 / 2;
    }
    > :nth-child(5) {
      grid-area: 5 / 1 / 6 / 2;
    }
    > :nth-child(6) {
      grid-area: 6 / 1 / 7 / 2;
    }
    > :nth-child(7) {
      grid-area: 7 / 1 / 8 / 2;
    }
    > :nth-child(8) {
      grid-area: 1 / 2 / 2 / 3;
      border-left: 3px #000 solid;
      border-top: none;
    }
    > :nth-child(9) {
      grid-area: 2 / 2 / 3 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(10) {
      grid-area: 3 / 2 / 4 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(11) {
      grid-area: 4 / 2 / 5 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(12) {
      grid-area: 5 / 2 / 6 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(13) {
      grid-area: 6 / 2 / 7 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(14) {
      grid-area: 7 / 2 / 8 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(15) {
      grid-area: 8 / 1 / 9 / 3;
      border-top: 2px #000 solid;
    }
  }
  .wrapperTable {
    max-width: 380px;
    height: 100%;
    max-height: 1944px;
  }
}

@media screen and (max-width: 415px) {
  .table {
    grid-template: repeat(8, 90px) / repeat(2, 50%);

    > :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    > :nth-child(2) {
      grid-area: 2 / 1 / 3 / 2;
    }
    > :nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;
    }
    > :nth-child(4) {
      grid-area: 4 / 1 / 5 / 2;
    }
    > :nth-child(5) {
      grid-area: 5 / 1 / 6 / 2;
    }
    > :nth-child(6) {
      grid-area: 6 / 1 / 7 / 2;
    }
    > :nth-child(7) {
      grid-area: 7 / 1 / 8 / 2;
    }
    > :nth-child(8) {
      grid-area: 1 / 2 / 2 / 3;
      border-left: 3px #000 solid;
      border-top: none;
    }
    > :nth-child(9) {
      grid-area: 2 / 2 / 3 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(10) {
      grid-area: 3 / 2 / 4 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(11) {
      grid-area: 4 / 2 / 5 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(12) {
      grid-area: 5 / 2 / 6 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(13) {
      grid-area: 6 / 2 / 7 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(14) {
      grid-area: 7 / 2 / 8 / 3;
      border-left: 3px #000 solid;
    }
    > :nth-child(15) {
      grid-area: 8 / 1 / 9 / 3;
      border-top: 2px #000 solid;
    }
  }
  .wrapperTable {
    max-width: 320px;
    height: 100%;
    max-height: 1944px;
  }
}
