@import "../../styles/variables.scss";

.ul_items {
  scrollbar-width: none;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $font-black;
  width: clamp(300px, 80%, 100%);
  align-items: center;
  margin: 0;
  min-height: clamp(57px, 80px, 120px);
  justify-content: space-between;
}

.ul__span {
  text-align: center;
  align-items: center;
  // width: 100px;
  min-width: 50px;
}
// ::-webkit-scrollbar {
//   display: none;
// }

.wrapper {
  scrollbar-width: none;
  border-right: 2px solid black;
  height: auto;
  align-items: center;
  width: clamp(300px, 80%, 100%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 288px;
  height: fit-content;
  overflow-y: hidden;
  &:nth-last-child(1) {
    border-right: none;
  }
}
.ul_items_text {
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  color: $font-black;
  margin-bottom: 10px;
  margin-top: 10px;
}
.link{
  font-family: $poppins;
  font-weight: 400;
  font-size: 17px;
  color: $blue;
  margin-left: 15px;
}
.hour_line{
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  width: clamp(300px, 80%, 100%);
  // margin-left: 25px;
  text-align: center;
  align-items: center;
}
.li_link{
  color:#000;
  text-decoration: none;

}
.li_link:hover{
  text-decoration: underline;
}
.hidden{
  display: none;
}