@import "./variables.scss";
.input {
  display: block;
  width: 100%;
  background-color: $grey;
  border-radius: 10px;
  border: 0;
  height: 45px;
  padding-left: 15px;
  font-size: 20px;
  font-family: $poppins;
  border-radius: 25px;
}
.no_margin{
  margin:0 !important;
}
.right{
  text-align-last: right !important;
}
input.green{
  background-color: $tableItem-greenHover;
}
.padding{
  padding: 10px;
}
.autoheigh{
  height: auto;
}
.input__title {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 15px 0 10px;
  text-align-last: left;
}
.input__label {
  margin-top: 20px;
  font-family: $poppins;
  font-size: 20px;
  width: 45%;
  margin: 26px 0 10px;
  text-align-last: left;
}
.input__bottom {
  display: inline-block;
  width: 100%;
}
.input__bottom__age {
  width: 100%;
}
.input__bottom__phone {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .input__label{
    margin-top: 0;
    width: 100% !important;
  }

  
}

.selector{
  width:100%;
  margin-top: 10px;    
  font-family: $poppins;
  :has(span){
      height: 45px;
  }
  :has(svg){
      color:black
  }
  
  :has(div){
 
      margin-left: 5px;
      background-color: $grey;
      font-size: 20px;
      font-family: $poppins;
  }
}


