@import "./App.scss";
.selector {
    width: 214px;
    margin-top: 10px;
    font-family: $poppins;
    word-wrap: break-word;
    z-index: 9;
  &__fullwidth{
    width: 100%;
  }
  &__no_margin{
    margin:0;
  }
    :has(span) {
      height: auto;
    }
    :has(svg) {
      color: black;
    }
  
    :has(div) {
      background-color: $grey;
      border-radius: 25px;
      font-size: 20px;
      min-height: 50px;
      font-family: $poppins;
    }
  }
  .selector::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
  }
  .selector [class*='menu'] {
    /* Your styles for the specific div with a class containing 'menu' */
  
    z-index: 10 !important;
    :has(div) {
      z-index: 12 !important;
      background-color: white;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  
    border: 1px solid black;
    min-width: 100%;
  }