@import './App.scss';
.black_borders {
  border-color: black !important;
}
.no_scroll{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroller {
  margin-top: 40px;
  overflow-y: auto;
  height: 600px;
  border: 2px solid black;
  border-radius: 25px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &__small{
    min-height: 100px;
    height: auto;
    font-size: 16px !important;
  }
}
.scroller::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}
.table {
  background-color: white;
}

.calendar {
  width: 90%;
  table-layout: fixed;
  margin-left: 5%;
  background-color: white;
  font-family: $poppins;
  border-spacing: 0 !important;
  &__available {
    width: 80% !important;
    margin-left: 10% !important;
  }
  &__small {
    width: 70% !important;
    margin-left: 15% !important;
  }
}
tr,
th,
td {
  padding: 0;
}

.tableHeader {
  border: 2px solid transparent;
  width: 90%;
}
.header {
  margin-bottom: 40px;
  &__mySubgroup {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}
.tableBody {
  border-collapse: collapse;
  width: 100%;
}

.cell__header__mySubgroup:first-child {
  border-left: 0;
}

.cell {
  background-color: transparent;
  font-family: $poppins;
  width: 100%;
  height: 58px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  position: relative;
  box-sizing: border-box;
  &__small{
    font-size:18px;
    min-width: auto !important;
  }
  &__header {
    border-collapse: collapse;
    font-family: $poppins;
    font-size: 36px;
    width: 99%;
    border-left: 2px solid black;
    &__mySubgroup {
      padding: 10px;
      text-align: center;
      width: auto !important;
      font-size: 30px !important;
    }

    // border-image: linear-gradient(to top, #000 77%, transparent 77%) 1 100% !important;
  }
  &__content {
    &__wrapper {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__big {
    width: 300% !important;
  }
  &__available {
    width: 30% !important;
  }
  &__mySubgroup {
    font-size: 20px;
    word-break: break-word;
    width: auto !important;
    min-width: 200px;
    align-content: center;
    height: 120px;
    &__description {
      width: 50% !important;
    }
  }
  &__description {
    word-break: break-word;
  }
  &__outer {
    position: relative;
  }
  &__inner {
    border: 1px solid black;
  }
}

tr:first-child .cell__outer::before {
  // first row, with half-borders
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70% !important;
  border: 1px solid black;
  // border-right: 2px solid black !important;
  // border-bottom: 1px solid black;
  border-top: 0;
  z-index: 1;
}
tr:first-child td:first-child .cell__outer {
  &::before {
    border-left-color: transparent;
    right: 0;
  }
}
tr:first-child td:last-child .cell__outer {
  &::before {
    border-right: 0 !important;
  }
}

tr td:first-child .cell__outer {
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
    // left: 30%;
    width: 70%;
    height: calc(100%);
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    z-index: 1;
  }
  border-left: 0 !important;
}
tr td:last-child .cell__outer {
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    width: 70%;
    height: calc(100%);
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    z-index: 1;
  }
  border-right: 0;
}
tr:last-child td:not(:first-child):not(:last-child) {
  .cell__outer {
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 30%;
      width: 100%;
      height: 70%;
      border: 1px solid black;
      border-bottom: 0 !important;
      z-index: 1;
    }
    border-bottom: 0;
  }
}
tr:last-child td:first-child {
  .cell__outer {
    &::before {
      border-bottom: 0 !important;
      bottom: 30%;
    }
  }
}
tr:last-child td:last-child {
  .cell__outer {
    &::before {
      border-bottom: 0 !important;
      bottom: 30%;
    }
  }
}
tr:only-of-type td .cell__outer::before{
  content:'';
  border-top:0;
  border-bottom:0;
  display: block;
  position: absolute;
  bottom: 0;
  height: 100% !important;
  width: 100%;
}
.cell__outer__big {
  &::before {
    width: 90% !important;
  }
}
th:first-child .cell__header {
  border-left: 0;
  // margin-left:2px;
  // border-right:2px solid black;
}
// tr th:last-child .cell__header {
//   border-right: 0;
// }

.tags {
  &__wrapper {
    font-size: 13px;
    width: inherit;
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    position: relative;
    left: 0;
    
  }
  &__item {
    position: absolute;
    left: 0;
    border-radius: 25px;
    min-width: 50px;
    background-color: rgb(244, 248, 214);
    &:not(:first-of-type) {
      margin-left: 65px;
    }
    &:first-of-type{
      margin-left: 10px;
    }
  }
}

.button{
  &__wrapper{
   margin-top: 20px;
   margin-bottom:20px;
    // margin-right: 0;
  }
}