@import './App.scss';

// #d5e8d4 / #d5e8d4 - group collor
// #d5e8d4 / #d5e8d4- indiv
// #d5e8d4 / #d5e8d4 -zamina
.action_wrapper {
  display: flex;
  column-gap: 4px;
  align-items: center;
  // width: 200px;
  justify-content: center;
}
.filters {
  width: 80;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    width: 25% !important;
  }
}
.filters__item:last-child {
  margin-left: auto;
}
.ul_items {
  color: $font-black;
  transition: 200ms linear;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ul_items_text:hover {
  color: $blue;
}
.teacher_name {
  margin: 0 !important;
}
.ul_items_link {
  margin: 12px auto;
  color: $font-black;
  transition: 200ms linear;
  z-index: 3;
}
.ul_items_text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  flex: 1;
  margin-right: 10px;
}

.input__label {
  font-family: $poppins;
  font-size: 20px;
  width: 45%;
  margin-bottom: 10px;
  display: flex;
}
.selectedCell {
  background-color: #9cc7f5 !important;
}
.half_width {
  width: 50% !important;
  left: 26%;
}
.date_selector {
  font-size: 26px;
  font-family: $poppins;
  font-weight: 500;
}
.replacement_wrapper {
  font-size: 20px;
  font-family: $poppins;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  &__switch__teacher_type {
    display: flex;
    align-items: flex-end;
    height: 92%;
  }
}
.filter_wrapper {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr auto;
  margin-bottom: 20px;
  column-gap: 10px;
  align-items: flex-end;
  &__subgroup {
    width: 90%;
    margin-left: 5%;
    display: flex;
  }
  &__available {
    width: 70%;
    margin-left: 15%;
    display: flex;
    &__item {
      align-items: center;
      height: auto !important;
    }
    &__item:first-child {
      margin-right: 20px;
    }
  }
}
.name_long {
  width: 374px;
}
.name_long::placeholder {
  text-align: center;
}
.flex_to_right {
  margin-left: auto;
}
.green {
  background-color: $tableItem-greenHover;
}
.one_day_wrapper {
  align-items: center;
  text-align: center;
  width: 120px;
  font-size: 20px;
  margin-left: auto;
  :has(div) {
    display: flex;
    margin-left: 13%;
  }
}
.remove_svg_switch svg {
  width: 0;
  height: 0;
}
.remove_svg_switch {
  :has(div) {
    background: #f06a6a;
  }
}
.subgroup_selector {
  width: 100% !important;
  margin-left: 0 !important;
}

.mentors_wrapper {
  word-wrap: normal;
}

.available_cell:first-child {
  width: 35% !important;
}
.available_cell:not(:first-child) {
  width: 40%;
}

.replacement_cell:first {
  width: 20%;
}
.subgroup_cell:last-child {
  width: 25% !important;
}

.tableHeader {
  font-size: 20px;
  background-color: $tableItem-darkOrangeColor;
  height: 20px;
  font-weight: 600;
}

.chooser_selector__item {
  &__date {
    min-width: 160px;
    max-width: 200px;
  }
}
.choosed {
  opacity: 1;
}

.big_cell {
  height: 100% !important;
  width: 100%;
}
.columns {
  width: 150px;
}

.occupied {
  background-color: red;
}
.flex {
  display: flex;
  align-self: center;
  flex: 1;
  justify-content: center;
  margin-left: 290px;
}
.dates_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 40px;
  display: flex;
}

.teacherInfo {
  margin-left: auto;
  margin-right: 20px;
  font-size: 20px;
}
.week_selector {
  // background-color: #6ca7df;
  font-size: 26px;
  background-color: transparent;
}

.chooser_selector {
  display: flex;
  // margin-left: 2%;
  width: 90%;
  margin-left: 5%;
  column-gap: 10px;
  margin-right: 10%;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  &__item {
    width: 205px !important;
    &__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;

      margin-left: auto;
      column-gap: 20px;
      width: 310px !important;
    }
  }
  &__date_wrapper {
    display: flex;
    justify-content: center;
    column-gap: 200px;
    margin-left: 100px;
    margin-bottom: 40px;
    .chooser_selector__item__date:first-child {
      text-align: left !important;
    }
    .chooser_selector__item__date:last-child {
      text-align-last: right !important;
    }
  }
}

.search_wrapper {
  width: 60%;
}

.button {
  font-size: 20px;
  font-family: $poppins;
  border-radius: 25px;
  padding: 10px;
  margin: 2px;
  width: 148px;
  height: 48px;
  z-index: 2;
  text-align: center;
  &__add {
    color: #33a64c;
    border: 1px solid #33a64c;
  }
  &__add:disabled {
    color: #7c7c7c;
    border: 1px solid #7c7c7c;
    background-color: white;
  }
  &__edit {
    color: green;
    border: 1px solid green;
    &__small {
      width: 69px;
      height: 39px;
      font-size: 16px;
    }
  }
  &__delete {
    color: red;
    border: 1px solid red;
    &__small {
      width: 91px;
      height: 39px;
      font-size: 16px;
    }
  }
}

.selector {
  width: 214px;
  margin-top: 10px;
  font-family: $poppins;
  word-wrap: break-word;

  :has(span) {
    height: auto;
  }
  :has(svg) {
    color: black;
  }

  :has(div) {
    background-color: $grey;
    border-radius: 25px;
    font-size: 20px;
    min-height: 50px;
    font-family: $poppins;
  }
}
.selector::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}
.selector [class*='menu'] {
  /* Your styles for the specific div with a class containing 'menu' */

  z-index: 2 !important;
  :has(div) {
    background-color: white;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  border: 1px solid black;
  min-width: 100%;
}
.reset_wrapper {
  width: 60%;
  margin-left: 20%;
}
.reset_button {
  font-family: $poppins;
  font-size: 20px;
  padding: 10px;
  color: green;
  border: 2px solid green;
  border-radius: 10px;
  margin-top: 10px;
}
.reset_button:disabled {
  border-color: grey;
  color: grey;
}

.mentor_name {
  margin-left: 0;
  // width: 200px;
  margin-right: 70px;
}
.available_nav_wrapper {
  display: flex;
  width: 70%;
  margin-left: 15%;
  align-items: center;
  justify-content: flex-start;
}
.available_nav__item:first-of-type {
  margin-right: 20%;
}

.add_btn {
  padding: 11px 39px;
  border-radius: 20px;
  color: $font-white;
  background-color: $font-black;
  font-family: $poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
}

.switch_label {
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
}
