.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 999999999;
}

.Modal {
  min-width: 470px;
  max-width: 520px;
  max-height: 800px;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 25px 40px 35px 40px;
  overflow-y: auto;
  max-height: 90vh;
}
