@import "../../../styles/variables.scss";
.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #d9d9d9;
  font-size: 16px;
  resize: none;
  border-radius: 10px;
  font-family: $poppins;
  font-size: 20px;
}

.input__label {
  margin-top: 20px;
  font-family: $poppins;
  font-size: 20px;
  width: 45%;
  color: $font-black;
  margin: 26px 0 10px;
  text-align-last: left;
}
.input__label2 {
  font-family: $poppins;
  font-size: 20px;
  color: $font-black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.input__link {
  margin-top: 20px;
  font-family: $poppins;
  font-size: 20px;
  width: 45%;
  color: $font-black;
  margin: 26px 0 10px;
  text-align-last: left;
  cursor: pointer;
  border: 0;
  transition: ease-in-out 0.5s;
  &:hover {
    color: $blue;
  }
}
.input__title {
  text-align: center;
  margin: 5px;
  font-size: 18px;
  font-family: $poppins;
}

.input__checkbox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  
  margin-top: 20px;
}
.input__checkboxInput{
  color: #fff;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 3px;
  transform: translateY(-0.075px);
}
.input__checkboxLabel{
  font-family: $poppins;
  font-size: 20px;
  width: 25%;
  z-index: 2000;
  transition: ease-in-out 0.5s;
  position: relative;
  
}
.btn__followUp{
  font-family: $poppins;
  font-size: 20px;
  width: 35%;
  height: 50px;
  color: #fff;
  background-color: rgb(65, 142, 249);
  border: none;
  border-radius: 8px;
  margin-top: 15px;
}
.reason__select{
  width: 250px;
  height: 30px;
  font-size: 20px;
  border: solid 2px #000;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px 20px; /* Розмір стрілки */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"><path d="M7 10l5 5 5-5z"/></svg>');
}