@import "../../styles/variables.scss";

.wrapperDays {
    max-width: 1287px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 52px auto;
}

.day {
    width: 183px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 3px solid $font-black;
    &:last-child {
        border-right: none;
    }
}

.dayTitle {
    font-family: $poppins;
    color: $font-black;
    font-weight: 400;
    font-size: 36px;
}

.dayDate {
    font-family: $poppins;
    color: $font-black;
    font-weight: 400;
    font-size: 26px;
}
