@import "/src/styles/variables.scss";

.input__submit {
  display: inline-block;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  font-family: $poppins;
  color: #fff;
  background-color: $red;
  display: block;
  margin: 10px;
  cursor: pointer;
  transition: all 1s;
  text-align: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  &:hover {
    background-color: $tableItem-redColorHover;
  }
}

////// MODAL DELETE CONFIRMATION ///////
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal__content {
  width: 300px;
  background: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  z-index: 1000;
}

.label{
  font-family: $poppins;
  font-size: 20px;
  margin-bottom: 20px;
}
.btn_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: center;
}

.btn_yes{
  font-family: $poppins;
  font-size: 20px;
  height: 30px;
  width: 50%;
  border-radius: 3px;
  border: none;
  background-color:rgba(112, 191, 32, 1);
  color: #fff;
}
.btn_no{
  font-family: $poppins;
  font-size: 20px;
  height: 30px;
  width: 50%;
  border-radius: 3px;
  border: none;
  background-color:#e83e3e;
  color: #fff;
}
.reason__select{
  width: 250px;
  height: 30px;
  font-size: 20px;
  border: solid 2px #000;
  border-radius: 5px;
  margin-bottom: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px 20px; /* Розмір стрілки */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"><path d="M7 10l5 5 5-5z"/></svg>');
}