@import "../../styles/variables.scss";
.tableSection {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}
.table__wrapper {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  padding: 0;
  overflow: scroll;
  width: 1400px;
  width: clamp(300px, 100%, 100%);
  height: 300px;
  display: flex;
  justify-content: center;
}

.table__wrapper::-webkit-scrollbar {
  display: none;
  // visibility: hidden;
}

.title {
  font-size: 32px;
  font-family: $poppins;
  margin: 0 auto;
  margin-bottom: 52px;
  margin-top: 20px;
}
.title::after {
  width: 90%;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin-top: 17px;
  margin: 0 auto;
  margin-top: 14px;

}
.table {
  margin: 0 auto 61px auto;
  border-collapse: collapse;
  margin-top: 25px;
  overflow: hidden;
  display: grid;
  grid-template: repeat(15, 58px) / repeat(7, 183px);
  grid-auto-flow: column;
}

.meet_text {
  font-family: $poppins;

  font-weight: 400;
  font-size: 16px;

  color: $font-black;
  margin-bottom: 6px;
}
.ul_item::after {
  width: 270px;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin-bottom: 6px;
}
.ul_item {
  margin: 0 auto;
}

.btn_wrapper {
  width: 600px;
  border-right: 2px solid black;
  height: fit-content;
  align-items: center;
}
.btn {
  background-color: $ligh_grey;
  border: 1px solid $dark_grey;
  border-radius: 16px;
  padding: 2px 14px;
  font-family: $poppins;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  display: block;
  height: 30px;
  transition: $main-transition;
  &_active {
    background-color: $dark_grey;
  }
}

.input {
  width: 130px;
  height: 32px;
  padding: 15px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 16px;
  border-color: none;
  background-color: $ligh_grey;
  margin-top: 25px;
  margin-left: 15px;
}
.btn_input_wrapper {
  margin-left: 36px;
  flex-grow: 1;
}
.comment__wrapper {
  height: 57px;
  width: 467px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // background-color: #000;
}
.comment__input {
  font-family: $poppins;
  font-weight: 400;
  font-size: 16px;
  padding: 0 14px;
  width: 200px;
  height: 32px;
  background: #f0f0f0;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: $main-transition;
  &::placeholder {
    font-size: 14px;
  }
  &:focus {
    border-color: #c1c1c1;
  }
}
.btn_wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment__reject_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
}
.errorTitle {
  font-size: 26px;
  font-family: $poppins;
  height: 300px;
}
