@import "../../styles/variables.scss";
.tableSection {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}
.table__wrapper {
  overflow: scroll;
  width: 1400px;
  height: 600px;
  display: flex;
}
.title {
  font-size: 32px;
  font-family: $poppins;
  margin: 0 auto;
  margin-bottom: 52px;
  margin-top: 20px;
}
.title::after {
  width: 85%;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin-top: 17px;
  margin: 0 auto;
  margin-top: 14px;
}
.table {
  margin: 0 auto 61px auto;
  border-collapse: collapse;
  margin-top: 25px;
  overflow: hidden;
  display: grid;
  grid-template: repeat(15, 58px) / repeat(7, 183px);
  grid-auto-flow: column;
}

.meet_text {
  font-family: $poppins;

  font-weight: 400;
  font-size: 16px;

  color: $font-black;
  margin-bottom: 6px;
}
.ul_item::after {
  width: 270px;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin-bottom: 6px;
}
.ul_item {
  margin: 0 auto;
}

.btn_wrapper {
  width: 600px;
  border-right: 2px solid black;
  height: fit-content;
  align-items: center;
}
.btn {
  width: 170px;
  background-color: #aeff83;
  border: 1px solid #92ff57;
  border-radius: 16px;
  padding: 2px 14px;
  font-family: $poppins;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  display: block;
  height: 30px;
  transition: $main-transition;
  &_active {
    background-color: #92ff57;
  }
}

.input {
  width: 130px;
  height: 32px;
  padding: 15px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 16px;
  border-color: none;
  background-color: $ligh_grey;
  margin-top: 25px;
  margin-left: 15px;
}
.btn_input_wrapper {
  margin-left: 36px;
  flex-grow: 1;
}
.comment__wrapper {
  height: 57px;
  width: 467px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // background-color: #000;
}
.comment__input {
  font-family: $poppins;
  font-weight: 400;
  font-size: 16px;
  padding: 0 14px;
  width: 200px;
  height: 32px;
  background: #f0f0f0;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: $main-transition;
  &::placeholder {
    font-size: 14px;
  }
  &:focus {
    border-color: #c1c1c1;
  }
}
.btn_wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment__reject_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
}


.spinner {
  height:130px;
  width: 130px;
  color: #999DFF;
  top: 20vh;
  left: 50%;
  position: absolute;
  z-index: 110001;
  transform: translateX(-50%)
}

.spinnerWrapper{
  position: absolute;
  width: 100%;
height: 100%;
background-color:rgba(255, 255, 255, 0.7);
transition: backdrop-filter 0.2s;
backdrop-filter: blur(50px) grayscale(100%) opacity(50%);
z-index: 11000;
}

// SEARCH SETTINGS
.main_wrapper {
  margin-bottom: 60px;
  margin-top: 34px;
}
.main_title::after {
  width: 536px;
  height: 2px;
  background-color: #000000;
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 17px;

  @media screen and (max-width: 600px) {
    width: 400px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 420px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
.main_title {
  font-family: $poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: $font-black;
  margin-bottom: 40px;
  @media screen and (max-width: 600px) {
    font-size: 26px;
  }
}
.main_wrapper2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.commentsWrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}
.commentsWindow{
  position: absolute;
  top: 10px;
  left: 40px;
  width: 300px;
  border: 2px solid #d2caff;
  border-radius: 5px;
  background-color: #e2ddff;
  padding: 10px;
  z-index: 10;
}

.reason__select{
  width: 250px;
  height: 30px;
  font-size: 20px;
  border: solid 2px #000;
  border-radius: 5px;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px 20px; /* Розмір стрілки */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"><path d="M7 10l5 5 5-5z"/></svg>');
}