@import '../../../styles/variables.scss';
@import '../../../styles/reset.scss';

.input__block {
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: space-between;
}
.input__block > .input__label {
  margin: 0;
  width: 47%;
}

.forgotPassword {
  font-size: 20px;
  font-family: $poppins;
  align-items: center;
  background-color: $grey;
  margin-top: 20px;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: $blue;
  color: white;
}
.forgotPassword:hover {
  scale: 1.05;
}

.selector {
  width: 100%;
  margin-top: 10px;
  font-family: $poppins;
  :has(span) {
    height: 45px;
  }
  :has(svg) {
    color: black;
  }

  :has(div) {
    margin-left: 5px;
    background-color: $grey;
    font-size: 20px;
    font-family: $poppins;
  }
}

.phone {
  align-items: end;
  height: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  > input {
    font-family: $poppins;
    font-size: 20px !important;
    width: 100% !important;
  }
  &__wrapper {
    width: 50%;
    text-align: left;
    justify-content: left;
  }
  &__label {
    font-family: $poppins;
    font-size: 20px;
    text-align-last: left;
  }
}
@media screen and (max-width: 768px) {
  .input__block {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .phone {
    &__wrapper {
      margin-top: 10px;
      width: 100%;
    }
  }
  .input__block > .input__label {
    width: 100% !important;
  }
  .forgotPassword {
    display: flex;
    margin-left: 20%;
    align-self: center;
    font-size: 20px;
    font-family: $poppins;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  .forgotPassword:hover {
    scale: 1.05;
  }
}
