@import "../../../styles/variables.scss";
@import "../../../styles/reset.scss";

.input__block {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.input__block > .input__label {
  margin: 0;
  width: 47%;
}

.forgotPassword{
  font-size: 20px;
  font-family: $poppins;
  margin-bottom:8px;
  align-items: center;
  background-color: $grey;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  margin-top: auto;
}
.forgotPassword:hover{
  scale: 1.05;
}