.coursesBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkBox {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.title{
  font-size: 40px;
}

.checkBoxLabel {
  font-size: 25px;
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  // justify-content: spac;
}

.checkBoxDiv {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import "/src/styles/variables.scss";

.input__submit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  display: inline-block;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  font-family: $poppins;
  color: #fff;
  background-color: $blue;
  display: block;
  // margin: 10px;
  cursor: pointer;
  transition: all 1s;
  text-align: center;
  align-items: center;
  font-size: 20px;
  // margin: 10px;
  &:hover {
    background-color: #575aaf;
  }
}

.managerLinkTitle {
  margin-top: 10px;

  font-size: 19px;
}

.managerLink {
  color: #000;
}
