@import "/src/styles/variables.scss";

.input__submit {
  display: inline-block;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  font-family: $poppins;
  color: #fff;
  background-color: $blue;
  display: block;
  margin: 10px;
  cursor: pointer;
  transition: all 1s;
  text-align: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  &:hover {
    background-color: #575aaf;
  }
}
