@import "../../styles/variables.scss";

.mini_title {
  font-family: $poppins;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px;
}

.text_wrapper {
  display: flex;
  justify-content: space-between;
}
.ul_items {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $font-black;
  width: 190px;
  align-items: center;
  color: $font-black;
  border-collapse: collapse;
  transition: 200ms linear;
  &:hover .ul_items_link {
    color: $blue;
  }
}

.ul_items_link {
  margin: 12px auto;
  color: $font-black;
  transition: 200ms linear;
}

.ul_items_btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url("../../img/pencil.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: $font-black;
  border-radius: 50%;
  align-items: center;
}

.wrapper {
  border-right: 2px solid black;
  height: auto;
  align-items: center;
  width: 232px;
  padding-right: 20px;
  padding-left: 20px;
  &:nth-last-child(1) {
    border-right: none;
  }
}
.ul_items_text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.main_wrapper {
  border-right: 2px solid black;
  border-right: 2px solid black;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  width: 232px;

  &:nth-last-child(1) {
    border-right: 0;
  }
}

.managers__select{
  border: solid 1px #000;
  border-radius: 5px;
  padding: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px 20px; /* Розмір стрілки */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"><path d="M7 10l5 5 5-5z"/></svg>');
}